{% extends 'layout.html' %}

{% block title %}Assignments{% endblock %}

{% block content %}
<h2>Employee: Assignment Page</h2>
    <div>
    <p>{{ msg }}</p>
    <form action="{{ url_for('assignments') }}" method="post">
				<label for="assigned_id"> </label>
				<input type="text" name="assigned_id" placeholder="Assigned Id" id="assigned_id" required>
				<input type="submit" value="Clock In / Out">
    </form>

    {% if session['clocked_in'] %}
        <p>Current Task Information: </p>
        <table>
            <tr>
                <td> Task Id: </td>
                <td>{{ session['t_id'] }}</td>
            </tr>
            <tr>
                <td> Task Name: </td>
                <td>{{ session['task_name'] }}</td>
            </tr>
            <tr>
                <td> Description: </td>
                <td>{{ session['description'] }}</td>
            </tr>
            <tr>
                <td> Project Id: </td>
                <td>{{ session['project_id'] }}</td>
            </tr>
            <tr>
                <td> Planned Start Date: </td>
                <td>{{ session['planned_start_date'] }}</td>
            </tr>
            <tr>
                <td> Planned End Date: </td>
                <td>{{ session['planned_end_date'] }}</td>
            </tr>
            <tr>
                <td> Planned Budget: </td>
                <td>${{ session['planned_budget'] }}</td>
            </tr>
             <tr>
                <td> Actual Start Date: </td>
                <td>{{ session['actual_start_date'] }}</td>
            </tr>
            <tr>
                <td> Actual End Date: </td>
                <td>{{ session['actual_end_date'] }}</td>
            </tr>
             <tr>
                <td> Actual Budget: </td>
                <td>${{ session['actual_budget'] }}</td>
            </tr>
        </table>
    {% endif %}
    <a href="{{ url_for('home') }}">Return to Home Page</a>
    </div>
{% endblock %}