{% extends 'layout.html' %}

{% block title %}Reports{% endblock %}

{% block content %}
<h2>Department Report</h2>

<p>


<div class="chartdepartment">

			<form action="{{ url_for('chartdepartment') }}" method="post" autocomplete="off">
				<label for="timeframe">
					<i class="fas fa-angry"></i>
				</label>
<input type="number" name="department_id" placeholder="Department ID" id="department_id" required>

    <p></p>
				<div class="msg">{{ msg }}</div>
				<input type="submit" value="Department Efficiency">
			</form>
		</div>
{% endblock %}