{% extends 'layout.html' %}

{% block title %}Reports{% endblock %}

{% block content %}
<h2>Reports Page</h2>
    <p>Is Manager: {{ account['is_manager'] }}</p>
<div>
    <p>This will be the Assigned Report:</p>
        {% for row in list %}
            <a href="{{ url_for('assignments') }}"><table>
            <tr>
                <td> Assigned id: </td>
                <td> {{ row['id'] }} </td>
            </tr>
            <tr>
                <td> Task id: </td>
                <td> {{ row['task_id'] }} </td>
            </tr>
            <tr>
                <td> Total time: </td>
                <td> {{ row['total_time'] }} </td>
            </tr>
            </table></a>
            <p></p>
        {% endfor %}
</div>
{% endblock %}