{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h2>Employee Home Page</h2>
    <div>
    <p>Welcome back!</p>
    <p>Your current assignments:</p>
    (<a href="{{ url_for('assignments') }}">Clock In / Out</a>)
    {% for row in list %}
            <table>
                <tr>
                    <td> Assigned id: </td>
                    <td> {{ row['id'] }} </td>
                </tr>
                <tr>
                    <td> Task id: </td>
                    <td> {{ row['task_id'] }} </td>
                </tr>
                <tr>
                    <td> Total time: </td>
                    <td> {{ row['total_time'] }} </td>
                </tr>
            </table>
            <p></p>
    {% endfor %}
    </div>

{% endblock %}