<html>
<head>
<title>Login:</title>
    <link rel = 'stylesheet' Type = 'text/css' href = 'style.css'>
<body>
    <div class = 'loginbox'>
        <img src = 'user.png' class = 'user'>
        <h1>Login:</h1>
        <form action="" method="post">
            <p>User</p>
            <input type = 'text' name="" placeholder="Enter Username" value="{{request.form.username }}">
            <p>Password</p>
            <input type = 'text' name="" placeholder="Enter Password" value="{{request.form.password }}">
            <input class="btn btn-default" type="submit" value="Login">
        </form>
        {% if error %}
            <p class = 'error'><strong>Error:</strong> {{ error }}</p>
        {% endif %}
    </div>
   </body>
   </head>
   </html>