<!DOCTYPE html>
<html>
	<style>
		body {
			background-image: url("https://cdn.discordapp.com/attachments/686725671246233626/695754083021226044/screen.jpg");
			background-size: 100%;
		}
    </style>

    <head>
		<meta charset="utf-8">
		<title>Login</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	</head>

	<body>
		<div class="login">
			<h1>Login</h1>
			<div class="links">
				<a href="{{ url_for('login') }}" class="active">Login</a>
			</div>
			<form action="{{ url_for('login') }}" method="post">
				<label for="username"> <i class="fas fa-user"></i> </label>
				<input type="text" name="username" placeholder="Username" id="username" required>

				<label for="password"> <i class="fas fa-lock"></i> </label>
				<input type="password" name="password" placeholder="Password" id="password" required>

				<div class="msg">{{ msg }}</div>
				<input type="submit" value="Login">
			</form>
		</div>
	</body>
</html>