{% extends 'layout.html' %}

{% block title %}Insert{% endblock %}

{% block content %}
<h2>Insert a New Project   <i class="fas fa-cogs"></i></h2>

<p> <a href="{{ url_for('insert') }}">Go Back</a></p>


<div class="insertproject">

			<form action="{{ url_for('insertproject') }}" method="post" autocomplete="off">
				<label for="name"> <i class="fas fa-cogs"></i> </label>
				<input type="text" name="name" placeholder="Name" id="name" required>
				<p></p>
				<label for="description"> <i class="fas fa-cogs"></i> </label>
				<input type="text" name="description" placeholder="Description" id="description" required>
				<p></p>
<p>Enter the Planned Start Date and the Planned End Date</p>
				<label for="start_date"> <i class="fas fa-calendar-alt"></i> </label>
				<input type="date" name="start_date" placeholder="Planned Start Date" id="start_date" required>

				<label for="end_date"> <i class="fas fa-calendar-alt"></i> </label>
				<input type="date" name="end_date" placeholder="Planned End Date" id="end_date" required>
<p></p>
				<label for="budget"> <i class="fas fa-donate"></i> </label>
				<input type="number" name="budget" placeholder="Budget" id="budget" required>

				<div class="msg">{{ msg }}</div>
				<p></p>
				<input type="submit" value="Insert Project">
			</form>
		</div>
{% endblock %}