{% extends 'layout.html' %}

{% block title %}Update{% endblock %}

{% block content %}
<h2>Update Account</h2>

    <p></p>
    <a href="{{ url_for('update') }}">Go Back</a>

<div class="updateaccount">

			<form action="{{ url_for('updateaccount') }}" method="post" autocomplete="off">
                <label for="account_id"> <i class="fas fa-user"></i> </label>
                <input type="number" name="account_id" placeholder="Employee Account ID" id="account_id" required>

                <label for="dept_id"> <i class="fas fa-angry"></i> </label>
                <input type="number" name="dept_id" placeholder="Department Id">
                <p></p>
				<label for="name"> <i class="fas fa-user"></i> </label>
                <input type="text" name="name" placeholder="Employee Name">
			
				<label for="username"> <i class="fas fa-user"></i> </label>
				<input type="text" name="username" placeholder="Username">

                <label for="password"> <i class="fas fa-lock"></i> </label>
				<input type="text" name="password" placeholder="Password">
                <p></p>
                <label for="is_manager"> <i class="fas fa-crown"></i> </label>
				<input type="number" name="is_manager" placeholder="Is Manager">

                <label for="hourly_wage"> <i class="fas fa-donate"></i> </label>
				<input type="number" name="hourly_wage" placeholder="Hourly Wage" step=".01">
                <p></p>
				<div class="msg">{{ msg2 }}{{ msg }}</div>
				<input type="submit" value="Update Account">
			</form>
		</div>
{% endblock %}